*{
    margin: 0;
    padding: 0;
}
body{
    font: 400 18px/1.5 'Hind', sans-serif;
    color: #565655;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
p, h2, h3{
    margin: 0;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.container{
    display: block;
    padding: 10px 20px 10px 20px;
    width: 80%;
    margin: auto;
}
.title{
    text-align: center;
    font-size: 45px;
}
#search{
    margin: 20px 20px 20px 0;
    width: 50%;
    height: 25px;
    font-size: 18px;
    border: 1px solid #928b8b;
    background-color: #f6f6f6;
    padding: 3px 3px 3px 5px;
}
.numbers,
.emails{
    display: inline-block;
}
.management{
    text-align: right;
    width: 25%;
}
.information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: left;
}
.management ul li{
     padding: 10px;
     cursor: pointer;
}
.management ul li:hover{
    color: #000;
}
.name-info{
    width: 25%;
}
.name,
.last-name,
.number,
.email{
    padding: 10px 0 10px 0;
    display: inline-block;
}
.numbers,
.emails{
    width: 25%;
}
.titles{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.titles h3{
    width: 33.3%;
    text-align: left;
}
.contact-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    padding: 5px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
}
.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.input-information input{
    display: inline-block;
    margin: 5px;
    width: 50%;
    height: 25px;
    border-radius: 3px;
    font-size: 18px;
}
.input-information h1{
    text-align: center;
}
.input-information button{
    display: block;
    padding: 10px;
    margin-top: 17px;
    background: #1924a5;
    color: #fff;
    border: none;
    border-radius: 3px;
}
#btn-add {
    display: block;
    float: right;
    padding: 10px;
    background: #1924a5;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 20px 0 20px 0;
}
#btn-add{
    float: right;
}
#name-info{
    width: 25%;
}
#name-info span{
    cursor: pointer;
    display: inline;
}
#name-info span:hover{
    color: #000;
}
.numbers span,
.emails span{
    display: block;
}
#name-info > span{
    width: 100%;
}
.btn404{
    margin: 0 auto;
    display: block;
    width: 25%;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    float: none;
}
.title404{
    color: #3caebb;
    text-align: center;
    padding: 30px;
}
.plus{
    cursor: pointer;
}
.plus:hover{
    color: #000000;
}
#contact-detail{
    display: none;
}
#name-d,
#name-e{
    font-size: 30px;
    float: left;
    width: 100%;
    padding: 20px 20px 20px 0;
}
#numbers-d,
#numbers-e{
    font-size: 25px;
    float: right;
    width: 100%;
    padding: 20px;
}
#emails-d,
#emails-e{
    font-size: 25px;
    width: 100%;
    padding: 20px 20px 20px 0;
}
.back{
    margin-top: 40px;
    cursor: pointer;
}
.edit,
.save{
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
}
.edit span,
.save span{
    margin-right: 5px;
}
.edit:hover,
.save:hover{
    color: #000;
}
#edit-name,
#edit-last-name,
.edit-numbers,
.edit-emails{
    padding: 5px;
    width: 70%;
    display: block;
    font-size: 23px;
    float: left;
}
#contact-edit{
    display: none;
}
#contact-list-empty{
    display: none;
}
.numbers-el,
.emails-el{
    display: block;
    padding-bottom: 10px;
}
.mob-title{
    float: right;
    width: 100%;
    padding: 20px 20px 0 20px;
}
.em-title{
    width: 100%;
    padding: 20px 20px 20px 0;
    float: left;
}
.name-title{
    width: 100%;
    float: left;
    padding: 20px 20px 0 0;
}
.mob-title h3{
    display: inline-block;
}
#plus-number-e,
#plus-email-e{
    float: right;
    cursor: pointer;
}
.mob-add{
    width: 70%;
}
.em-add{
    width: 70%;
}
.em-add h3{
    float: left;
}
.number-new,
.email-new{
    padding: 5px;
    width: 70%;
    display: block;
    font-size: 23px;
}
.fl{
    width: 40%;
    float: left;
}
.fr{
    width: 40%;
    float: right;
}
.delete-input-number,
.delete-input-email{
    float: right;
    width: 20%;
    padding-top: 6px;
    font-size: 20px;
    cursor: pointer;
}
i.fa{
    font-size: 20px;
}
.title-wrapper{
    width: 100%;
    padding: 5px;
    border: 1px solid #928b8b;
    background-color: #eaeaea;
    margin-bottom: 5px;
}